extends ../layout.pug

block content 

    //- url:/clientes/create
    form(action="/clientes/update", method="POST")
        div.mt-3
            label.form-label Nombre
            input.form-control(type="text", name="nombre", value= cliente.nombre)
        div.mt-3
            label.form-label Apellidos
            input.form-control(type="text", name="apellidos", value= cliente.apellidos)
        div.mt-3
            label.form-label Dirección
            input.form-control(type="text", name="direccion", value= cliente.direccion)
        div.mt-3
            label.form-label Email
            input.form-control(type="email", name="email", value= cliente.email)
        div.mt-3
            label.form-label Edad
            input.form-control(type="number", name="edad", value= cliente.edad)
        div.mt-3
            label.form-label Género
            select.form-control(name="genero", value= cliente.genero)
                option(value="m") Masculino
                option(value="f") Feminino
        div.mt-3
            label.form-label Cuota
            input.form-control(type="number", name="cuota", value= cliente.cuota)
        div.mt-3
            label.form-label Fecha de Nacimiento 
            input.form-control(type="date", name="fecha_nacimiento", value= cliente.fecha_nacimiento)
        div.mt-3
            label.form-label DNI
            input.form-control(type="text", name="dni", value= cliente.dni)
        input(type="hidden", name="clienteId", value= cliente.id)
        button.btn.btn-success.mt-3(type="submit", value="Modificar") Modificar 

        